* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

    
html{font-family: 'Roboto', sans-serif;}

h1,h2,h3{color: black; text-align: center; padding: 8px;}


/***********************   header nav bar   *********************/

header ul {list-style: none; 
            width: 100%;
            font-size:0 
}

nav ul li {position:relative;
    display: inline-block;
    font-size: 1rem;
    color: black;}

header ul ul{position: absolute;
            display: none;}    
            header ul ul {background-color: white; width: 130px; height: 100px;
                position: absolute;
                display: none;
             }
             header ul ul li {
                display: block;
             }
             header  ul li:hover ul {
                display:block;
                z-index: 1;
             }
             

header li a:hover {color: grey;}

header{height: 75px;
        background-color:white;}

header nav{float: right;
     line-height: 40px;
     margin-right: 6px;
     }
header img:hover{transform: rotate(-15deg);
            transition: transform 2s;}

nav a {text-decoration: none;
	    padding: 5px;
        font-size: 0.9em;
        color: black;
        font-weight: bold;
        }

/****************************************************************************************/




/*** SUB NAV BAR***/

.subNav{height: 35px;
    background-color:white;}
.subNav li{position:relative;
    display: inline-block;
    font-size: 15px;
    color: black;}

.subNav li a:hover {color: grey;}

/***************************************/


.sectForm{width: 100%;
            border: solid 1px;
            height: 550px;
            margin: 0px 10px 0px 0px;
            padding: 4px;}
.sectForm form{width: 50%;
                margin: auto;}

.parraFloat{float: left;
            width: 40%;}


.secFondo {background-image:url(/img/fondosec.jpg);
            opacity: 1;
            background-size:auto;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            padding: 0;}

.cov{background-color: rgba(255, 217, 2, 0.4);
    
    font-weight: bolder;
    width: 100%;
    height: 100%;
    padding: 6px;}
.cov p{opacity: 1; z-index: 12;color: black;}


/****   FOOTER    ****/



/********************************************************/


/******** PRÁCTICA FLEXBOX *******/
.navFlex{display:flex;
    flex-direction: row;
    clear: right;}

    .navFlex li{position:relative;
        display: inline-block;
        font-size: 15px;
        color: black;}
    
    .navFlex li a:hover {color: gray;text-decoration: underline;}


.mainFlex{display:flex;
    flex-direction: row;
    clear: right;}


.mainHijo{width: 33.3%;
        background-color: rgb(221, 139, 139);
        }
    .mainHijo p {background-color: rgb(227, 255, 70, 0.7);
        color:black;
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
        width: 100%;
        padding: 3px;} 
    .mainHijo a{text-decoration: none;}

.sectFlex{display:flex; flex-wrap: wrap;
    background-color: whitesmoke;
    flex-direction: row;
    text-align:  left justify;
    font-size: 1rem;
    width:100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;}


.asideFlex{
    width: 40%; 
    clear: left;
    font-size: 1rem;
    font-weight: bolder;}
    
.asideFlex img{max-width: 300px;}
    
.articleFlex{width: 59%;}



.formFlex{display:flex;
    background-image: linear-gradient(to bottom, rgba(255, 166, 0, 0.6) , rgba(255, 255, 0, 0.1));
    margin: auto;
    flex-direction: column;
    font-weight: bold;
    color: black;
    clear: right;
    align-items: center
    justify-content: center;
    width: 80%;
    height:60%;}

.sectFlex input:focus{transform: scale(1,1.2); background-color: rgba(255, 0, 0, 0.2);}


/**** GRIDS PÁGINA INDEX.HTML y COMICS.HTML ****/





        /* del */
.gridSt{background-color: rgb(250, 183, 139); background-image: linear-gradient(to bottom, orange , yellow);
        text-align: center;
        font-weight: bold;}

.imgStl{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }

     /* del */   
.infoStl{background-image: linear-gradient(to bottom, orange , yellow);
        padding: 3px;
        text-transform: uppercase;
        font-weight: bold;}




/* ANIMACIÓN IMG GRID */

 
@keyframes imgOpacidad {
    0%{ opacity: ; opacity: 1; }
    25%{ opacity: 0.8; }
    50%{ opacity: 0.7;}
   }
 
figure a:hover img{animation-name: imgOpacidad;
                animation-timing-function: ease-in;
                animation-duration: 3s;
                animation-delay: 0s;
                opacity: 0.5;}


/* IMG ENCIMA*/

figure{position: relative;}

figure a p{position:absolute;
        align-items: center;
        color: black;
        font-weight: bold;
        top: 20%;
        left: 10%;
        right: 10%;
        opacity: 0;}

        @keyframes aparecer {
            0% {opacity: 0; z-index: 1;}
            50% {opacity: 1; }

         }
        
        figure a:hover p{animation-timing-function: ease-in;
                        animation-duration: 3s;
                        animation-delay: 0s;
                        animation-name: aparecer;
                        opacity: 1;
                        z-index: 1;}


.imagenEnc {
    position:absolute;
    top:10%;
    left: 80%;
    margin: auto;
    border:none;
    opacity: 0;
   }

/* IMG GRID */


.img1{grid-area: img1; background-color: rgb(255, 225, 0);}    
.img2{grid-area: img2; background-color: rgb(255, 225, 0);}
.img3{grid-area: img3; background-color: rgb(255, 225, 0);}
.img4{grid-area: img4; background-color: rgb(255, 225, 0);}    
.img5{grid-area: img5; background-color: rgb(255, 225, 0);}
.img6{grid-area: img6; background-color: rgb(255, 225, 0);}

.info1{grid-area: info1;}    
.info2{grid-area: info2;}
.info3{grid-area: info3;}
.info4{grid-area: info4;}    
.info5{grid-area: info5;}
.info6{grid-area: info6;}


.infoGrid{background-image: linear-gradient(to bottom, orange , yellow);
        text-shadow: 2px 2px rgb(242, 149, 149, 0.7);
        padding: 4px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;}   



/***********  RESPONSIVE **************/        


@media only screen and (min-width: 768px){


    /*HOME*/

    .grilla3 {display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50px;    
            font-size: 0.9em;
            grid-template-areas:
            "img1  img2  img3"
            "info1 info2 info3";

            }

        .homeLi li{font-size: 16px;
                   color: black;}
       }          


       /*COMICS.HTML*/

       .grilla {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 50px 1fr 50px;    
        font-size: 0.9em;
        grid-template-areas:
        "img1  img2  img3"
        "info1 info2 info3"
        "img4  img5  img6"
        "info4 info5 info6";}
    
    
    

   
/***********  421 a 767 máximo  **************/


@media only screen and (min-width:421px) and (max-width:767px){
    .infoGrid{background-image: linear-gradient(to bottom, orange , yellow);
        padding: 2px;
        text-transform: uppercase;text-align: center;
        font-weight: bold;
        font-size: 0.7rem;}   

       /*HOME*/ 
    .grilla3 {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 35px;    
        font-size: 0.7em;
        grid-template-areas:
        "img1  img2  img3"
        "info1 info2 info3";}

        /*COMICS.HTML*/

        .grilla {display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 35px 1fr 35px;    
            font-size: 0.7em;
            grid-template-areas:
            "img1  img2  img3"
            "info1 info2 info3"
            "img4  img5  img6"
            "info4 info5 info6";}
        /**************************************/

    .homeLi li{font-size: 0.80rem;
                color: black;}
 

    .navUl {background-color: white; width: 100px; height: 80px;
            position: absolute;
            display: none;}

    }


/***********  320 a 420 máximo  **************/

 @media only screen and (min-width:320px) and (max-width:420px){
    /*HOME*/
    .grilla3 {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 35px;    
        font-size: 0.7em;
        grid-template-areas:
        "img1  img2  img3"
        "info1 info2 info3";}

    /*COMICS.HTML*/

    .grilla {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 35px 1fr 35px;    
        font-size: 0.7em;
        grid-template-areas:
        "img1  img2  img3"
        "info1 info2 info3"
        "img4  img5  img6"
        "info4 info5 info6";}
    /**************************************/



        .infoGrid{background-image: linear-gradient(to bottom, orange , yellow);
            padding: 3px;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-size: 0.55rem;}   
    
        .homeLi li{font-size: 0.5rem;
                    color: black;}

    
        .navUl {background-color: white; width: 100px; height: 80px;
                position: absolute;
                display: none;}

        
        .subNav {height: 30px;}           
        .subNav li {font-size: 0.7rem;}     
             
        /* section {border:  0; height: auto;}    
        section h2{font-size: 14px;}  
        section p{font-size: 11px;}  */
        aside img{float: left;}
        .parraFloat{float: none; margin: auto; width: 100%;}
        
        hr{visibility: hidden;}     

        } 

/***********  320 máximo  **************/

@media only screen and (min-width: 175px) and (max-width: 320px){
        .homeLi li{font-size: 0.4rem;
                    color: black;}
 
        .navUl {background-color: white; width: 50px; height: 40px;
            position: absolute;
            display: none;
            line-height: 20px;}
        .navUl a {padding: 1px;}

        .subNav {height: 28px;}           
        .subNav li {font-size: 0.7rem;}  

                /* HOME */
        .grilla3 {display: grid;
            clear: right;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 30px;    
            font-size: 0.7em;
            grid-template-areas:
            "img1  img2  img3"
            "info1 info2 info3";}

            /*COMICS.HTML*/

            .grilla {display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 30px 1fr 30px;    
                font-size: 0.5em;
                grid-template-areas:
                "img1  img2  img3"
                "info1 info2 info3"
                "img4  img5  img6"
                "info4 info5 info6";}
            /**************************************/


    
            .infoGrid{background-image: linear-gradient(to bottom, orange , yellow);
                padding: 2px;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                font-size: 0.5rem;}  

            
            /* section {border:  0; height: auto;}    
            section h2{font-size: 13px;}  
            section p{font-size: 9px;} 
            section aside{float: left;} */
            .parraFloat{float: none; margin: auto; width: 100%;}
             
            hr{visibility: hidden;}

        }


